/* Reset Style CSS */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333;}
ul, ol{list-style: none;}
img{display: block;}
input, button, textarea{outline: 0;}

/* Main Layout Code */
body{font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-size: 14px;}
/* body{font-family: 'todo-logo-for-lecture', sans-serif; font-size: 14px;} */
.clearfix:after{content : ''; display: block; clear: both;}

